<div class="main-container">
  <div class="search-bar-container">
    <div class="field">
      <p class="control has-icons-left">
        <input class="input" type="password" placeholder="Filter notes" />
        <span class="icon is-small is-left">
          <i class="fas fa-search"></i>
        </span>
      </p>
    </div>
  </div>

  <div class="notes-list">
    <app-note-card [title]="'Practice Angular'" [body]="'1234'"></app-note-card>
    <app-note-card [title]="'Practice Angular'" [body]="'1234'"></app-note-card>
    <app-note-card [title]="'Practice Angular'" [body]="'1234'"></app-note-card>
  </div>
</div>
